services:  
  
  ch_server:  
    image: clickhouse/clickhouse-server:24.8.4  
    ports:  
      - "8123:8123"  
    environment:  
      CLICKHOUSE_USER: click  
      CLICKHOUSE_PASSWORD: click
  ch-ui:
    image: ghcr.io/caioricciuti/ch-ui:latest
    restart: always
    ports:
      - "5521:5521"
    environment:
      VITE_CLICKHOUSE_URL: "localhost:8123"
      VITE_CLICKHOUSE_USER: click
      VITE_CLICKHOUSE_PASS: click123asdASD1